<div class="yield">
	<div class="container">
		<h1><%= @prefecture.name %>のホテル</h1>	
		<div class="row">
		  <div class="col-8">
		    <p>Check out our listings of hotels in Bagan and find the right accommodation for you: whether it is for business, family or just plain fun, you're sure to find the right place to stay.</p>
		  </div>
		  <div class="col-4">
		    <p>ランキング</p>
				<ul class="list-group list-group-flush">
				  <li class="list-group-item">Cras justo odio</li>
				  <li class="list-group-item">Dapibus ac facilisis in</li>
				  <li class="list-group-item">Morbi leo risus</li>
				  <li class="list-group-item">Porta ac consectetur ac</li>
				  <li class="list-group-item">Vestibulum at eros</li>
				</ul>
		  </div>
		</div>
		<div class="hotels">
		  all hotels in prefecture
		</div>
	</div>
</div>
