// Place all the styles related to the prefectures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.prefectures{
	float:left;
	width:48%;
	height:500px;
	border:1px solid #dee7ec;
	margin:100px 10px 10px 10px;
}
.hotel-name{
	width:40%;
	float: left;
	height: 150px;
	margin: 100px 0 50px 50px;
	border:1px solid #dee7ec;
}
