<div class="yield">
	<% @review.errors.full_messages.each do |message| %>
	 <div class="form-error">
	  <%= message %>
	 </div>
	<% end %>





	<h1>レビューを作成</h1>

	<%= render 'form', review: @review %>

</div>





